<div class="flex-box container-box mt-4">
                <div class="content-box"> 
            <table class="table">
            <thead>
                <tr>
                <th scope="col">Nome</th>
                <td>José Henrique Aguero Louteiro</td>
                </tr>

                <tr>
                <th scope="col">Data Nasc</th>
                <td>05/05/2000</td>
                </tr>

                <tr>
                <th scope="col">Telefone</th>
                <td>(67) 9 96186374</td>
                </tr>

                <tr>
                <th scope="col">ID</th>
                <td>{{id}}</td>
                </tr>

                <tr>
                <th scope="col">CPF</th>
                <td>
                {{#if cpf}}
                    {{cpf}}
                {{else}}
                    Não encontrado
                {{/if}}
                
                </td>
                </tr>

                <tr>
                <th scope="col">Senha</th>
                <td>Não</td>
                </tr>
            </thead>
            </table>
        </div></div>