<nav class="navbar navbar-light" style="background-color: #62daff;">
  <a class="navbar-brand" href="/admin" style="font-family: Blippo, fantasy; color : #FFFFFF; ">CERDIL</a>
  <center><img src="/imgs/Logo_Novo.png" width="50px" height="50px" ></center>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto text-right">
      <li class="nav-item ">
        <a class="nav-link" href="/admin/resetar">Resetar Senha <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/admin/listamedico">Médicos - ID <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>